body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
  }

  .card2 {
    background-color: #f0f0f0;
    width: 275px;
    height: 480px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }
  .card2-image {
    height: 50%;
    width: 93%;
    border-radius: 20px;
    margin: 10px;
  }
  .card2-content {
    text-align: center;

    padding: 10px;
    height: 30%;
  }
  .card2 h2 {
    font-size: 23px;
    margin: 10px 0 5px;
  }
  .card2 p {
    font-size: 15px;
  }